<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>page_main</title>
</head>
<body>
    <div id="app">React is rendered yet!</div>    
    <script type="text/babel">

        // MENU COMPONENT
        function MenuItem(props) {
            if (props.name === "Login") {
                return(
                    <div className="menuitem">
                        <button>SIGN-UP</button>
                    </div>
                )
            }
            else if (props.name === "Logo") {
                return(
                    <img id="logo" src="img/cre-ground_logo.PNG" alt="logo_img"/>
                )
            }
            else {
                return(
                    <div className="menuitem">
                        <a id={props.name} href={props.page}>{props.name}</a>
                    </div>
                );
            }
        }
        
        function Menu() {
            return(
                <div id="menu">
                    <MenuItem name="CRE_GROUND" page="page_main.html"/>                    
                    <MenuItem name="Register"  page="page_register.html"/>
                    <MenuItem name="Create" page="page_create.html"/>
                    <MenuItem name="Playground" page="page_playground.html"/>
                    <MenuItem name="QnA" page="page_qna.html"/>
                    <MenuItem name="SIGN-UP" page="page_qna.html" />
                </div>
            );
        }

        // MAIN SESSION COMPONENT
        function MainSession() {
            return(
                <div className="frame">
                    <SpotlightContents/>
                    <hr/>
                    <BestContents/>
                    <hr/>
                    <LowBarContents/>
                    <hr/>
                </div>
            );
        }

        function SpotlightContents() {
            return(
                <div className="wrapper">
                    <h1>Spotlight!</h1>
                    <Spotlight size="small"/>
                    <Spotlight size="small"/>
                    <Spotlight size="large"/>
                </div>
            );
        }

        function Spotlight(props) {
            return(
                <div className={props.size}>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            );
        }

        function BestContents() {
            return(
                <div className="wrapper">
                    <h1>Best!</h1>
                    <BestContent/>
                    <BestContent/>
                    <BestContent/>                    
                    <BestContent/>
                </div>
            );
        }

        function BestContent() {
            return(
                <div className="bestcontent">
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            );
        }

        function LowBarContents() {
            return(
                <div className="wrapper">
                    <LowBarContent/>
                    <LowBarContent/>
                    <LowBarContent/>
                    <LowBarContent/>
                </div>
            );
        }

        function LowBarContent() {
            return(
                <div className="lowbarcontent">
                    <h3>TITLE</h3>
                </div>
            );
        }
        
        function Footer() {
            return(
                <div className="footer">
                    <div className="footer_content">
                        <h2>CRE-GROUND</h2>
                    </div>
                    <div className="footer_content">
                        Features
                    </div>
                    <div className="footer_content">
                        Platform
                    </div>
                    <div className="footer_content">
                        Community
                    </div>
                    <div className="footer_content">
                        Company
                    </div>
                    <div className="footer_content">
                        Resources
                    </div>
                </div>
            );
        }

        ReactDOM.render(
            <div>
                <Menu/>
                <MainSession/>
                <Footer/>
            </div>,
            document.getElementById("app")
        );
    </script>
</body>
</html>