body {
    margin: 0;
}

.frame {
    margin-top: 60px;
}

.wrapper {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    background-color: gray;
}

.wrapper h1 {
    color: white;
}

.small {
    display: inline-block;
    margin: 10px;
    border-radius: 4px;
    background-color: black;
    height: 300px;
    width: 200px;
}

.large {
    display: inline-block;
    margin: 10px;
    border-radius: 4px;
    background-color: black;
    height: 300px;
    width: 500px;
}

.bestcontent {
    display: inline-block;
    margin: 10px;
    border-radius: 4px;
    background-color: black;
    height: 270px;
    width: 270px;
}

.bestcontent h3 {
    margin: 50px 20px;
    background-color: white;
}

.bestcontent p {
    margin: 0 20px;
    background-color: white;
}

.small h3 {
    margin: 50px 20px;
    background-color: white;
}

.small p {
    margin: 0 20px;
    background-color: white;
}

.large h3 {
    margin: 50px 20px;
    background-color: white;
}

.large p {
    margin: 0 20px;
    background-color: white;
}