<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>page_create</title>
</head>
<body>
    <div id="app">React is rendered yet!</div>    
    <script type="text/babel">

        // MENU COMPONENT
        function MenuItem(props) {
            if (props.name === "Login") {
                return(
                    <div className="menuitem">
                        <button>SIGN-UP</button>
                    </div>
                )
            }
            else if (props.name === "Logo") {
                return(
                    <img id="logo" src="img/cre-ground_logo.PNG" alt="logo_img"/>
                )
            }
            else {
                return(
                    <div className="menuitem">
                        <a id={props.name} href={props.page}>{props.name}</a>
                    </div>
                );
            }
        }
        
        function Menu() {
            return(
                <div id="menu">
                    <MenuItem name="CRE_GROUND" page="page_main.html"/>                    
                    <MenuItem name="Register"  page="page_register.html"/>
                    <MenuItem name="Create" page="page_create.html"/>
                    <MenuItem name="Playground" page="page_playground.html"/>
                    <MenuItem name="QnA" page="page_qna.html"/>
                    <MenuItem name="SIGN-UP"/>
                </div>
            );
        }

        ReactDOM.render(
            <div>
                <Menu/>
            </div>,
            document.getElementById("app")
        );
    </script>
</body>
</html>