<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
    
    <title>Document</title>
</head>
<body>
    <div id="white_space"></div>
    <header>
        <div id="logo"><a href="/"><img src="img/creground_2.PNG" id="logo_img" alt="logo"></a></div>
        <div id="local_camp">default</div>       
    </header>
    <div class="왼쪽메뉴"> <!-- 왼쪽메뉴 -->
        <ul>
            <li><a href="/"><button>홈</button></a></li>
            <li><a href="/view/register.html"><button>등록하기</button></a></li>
            <li><a href="../views/users/new.ejs"><button>Sign Up</button></a></li>
            <li><a href="../views/home/login"><button>Login</button></a></li>
        </ul>
    </div>
    
    <div class="body_content">
    <div class="문의내용광고">
        문의내용광고
    </div> <!-- 문의 내용 광고 -->
    <div class="공모나열"> <!-- 공모 나열 -->
        <div class="카테고리"> <!-- 공모 카테고리-->
            <ul>
                <li><button>전체</button></li>
                <li><button>음식</button></li>
                <li><button>상품</button></li>
                <li><button>장소</button></li>
                <li><button>기타</button></li>
            </ul>
        </div>
        
        <div class="카테고리별_공모">
            <ul>
                <li>
                    <div class="아이템_한개_전체">
                        <div class="아이템_이미지">
                            <img src="img/cre-ground_logo.PNG" class="공모_이미지" alt="로고">
                        </div>
                        <div class="아이템_내용">
                            <div class="아이템_제목">
                                제목
                            </div>

                            <div class="아이템_마감일">
                                마감일
                            </div>

                            <div class="아이템_인원">
                                필요인원
                            </div>
                        </div>
                            
                    </div>
                </li>
                <li>
                        <div class="아이템_한개_전체">
                            <div class="아이템_이미지">
                                아이템이미지
                            </div>
                            <div class="아이템_내용">
                                <div class="아이템_제목">
                                    제목
                                </div>
    
                                <div class="아이템_마감일">
                                    마감일
                                </div>
    
                                <div class="아이템_인원">
                                    필요인원
                                </div>
                            </div>
                                
                        </div>
                    </li>
            </ul>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
</html>