<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="body">
    <% include ../partials/nav %>

    <div>
      <% include ./partials/header %>

      <div>
        <% if(isAuthenticated){ %> <!--  new 버튼은 로그인된 경우에만 보임-->
          <a href="/posts/new">New</a>
        <% } %>
      </div>

      <table>
        <thead>
          <tr>
            <th class="title">Title</th>
            <th class="author">Author</th>
            <th class="date">Date</th>
          </tr>
        </thead>
        <tbody>
          <% if(posts == null || posts.length == 0){ %>
            <tr>
              <td class="noData" colspan=100> There is no data to show :( </td>
            </tr>
          <% } %>
          <% posts.forEach(function(post) { %>
            <tr>
              <td class="title">
                <a href="/posts/<%= post._id %>"><div class="ellipsis"><%= post.title %></div></a>
              </td>

              <td class="author">
                <!-- author가 있는 경우 author의 username을 표시 -->
                <div class="ellipsis"><%= post.author ? post.author.username : "" %></div>
                <!-- ellipsis ext의 내용이 width보다 긴 경우 긴 부분을 잘라내고 "..."을 추가 -->
              </td>

              <td class="date">
                <%= post.createdDate %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

    </div>  <!-- container end -->
  </body>
</html>
