<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>
    <div class="body_content">
        <div class="home_img">
            <div id="home_ment">
            <span id="home_post">저희 <span id="home_post_span">크리그라운드</span><br> 홍보영상에<br> 참여해주세요!<br><span id="home_post_span_2">↓</span></span>
            </div>
            <img src="/img/home_img_1.png" id="home_img_" alt="home_img">
            <a href="/registers"><button id="home_register"><span id="btn_span">지금 공모전<br/><span id="btn_span_camp">참여하기!</span></span></button></a>
        </div>
        
    </div>
    <footer>
    </footer>
</body>

</html> 