<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>
    <div id="white_space"></div>

    <div class="body_content">
        <div class="home_img">
            <img src="/img/home_img.jpg" id="home_img" alt="home_img">
            <a href="/registers"><button id="home_register"><span id="btn_span">지금 공모전<br/><span id="btn_span_camp">참여하기!</span></span></button></a>
        </div>
        
    </div>
    <footer>
    </footer>
</body>

</html>