/*
* background
*   white : #dce7eb
*   grey  : #dfe9ec
*   
* font
*   'Malgun Gothic', sans-serif;
*
*/

html{
    background-color : #dce7eb;
    font-family:'Malgun Gothic', sans-serif;
    width:100%;
}
body{
    width:100%;
}
header{
    margin-bottom:0;
    background-color: white;
}
ul{
    list-style: none;
}
.왼쪽메뉴{
    height : 1000px;
    width : 200px;
    float : left;
    background-color:  white;
    
}
.왼쪽메뉴 ul li button{
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    background: #fff;
    font-family: 'Malgun Gothic', sans-serif;
    font-weight: bold;
    border: 2px solid #F0C4BB;
    color:#F0C4BB;
    letter-spacing:1px;
    text-shadow:0;
    size : 12px;
    cursor : pointer;
    transition : all 0.25s ease;
    margin-bottom : 10px;
}
.왼쪽메뉴 ul li button:hover{
    color:white;
    background: #F0C4BB;
}

.문의내용광고{
    border : solid 1px;
    /**/
    left : 200px;
    height : 200px;
    width : 400px;
    margin : 10px;
    position : relative;
}
.공모나열{
    border: solid 1px;
    /**/
    max-width: 1600px;
    overflow: scroll;
    left : 250px;
    height: 100%;
}
.카테고리{
    float : left;
    overflow : hidden;
}
.카테고리 li{
    position : relative;

}
.카테고리 ul li button{
    height : 50px;
    width : 50px;
    outline:none;
    text-align: center;
    border-radius:90px;
    background: #fff;
    font-family: 'Malgun Gothic', sans-serif;
    font-weight: bold;
    border: 2px solid #F0C4BB;
    color:#F0C4BB;
    letter-spacing:1px;
    text-shadow:0;
    size : 10px;
    cursor : pointer;
    transition : all 0.25s ease;
}
.카테고리 ul li button:hover{
    color:white;
    background: #F0C4BB;
    cursor : pointer;
}
.최신순_인기순{
    top : 10px;
    overflow : hidden;
    position : absolute;
    top : 550px;
}
.최신순_인기순 ul li button{
    outline: none;
    
}

.카테고리별_공모{
    width : 80%;
    top : 80px;
    position : relative;
}
.카테고리별_공모 li{
    display : inline;
}
.아이템_한개_전체{
    border : solid 1px;
    width : 300px;
    height : 350px;
}
.아이템_이미지{
    border : solid 1px;
    margin : 10px;
    width : 280px;
    height : 200px;
}
.아이템_내용{
    display : inline;
}
.아이템_제목{
    border : solid 1px;
    float : left;
    width : 280px;
    margin : 10px;
}
.아이템_마감일{
    border : solid 1px;
    width : 140px;
    float : left;
    margin-left : 10px;
}
.아이템_인원{
    border : solid 1px;
    float : left;
    margin-left : 5px;
    width : 130px;
}