.box {
    background-color: white;
    width: 1024px;
    margin: 0 auto;
    margin-top: 64px;
    padding: 30px 20px;
}

.box2 {
    display: inline-block;
    width: 250px;
    text-align: center;
    margin: 10px 10px;
    padding: 7px;
    border-radius: 5px;
    background-color: #e7e7e7;
}

.box3 {
    text-align: center;
}

.t1 {
    margin-left: 7px;
}