@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
.작성폼{
    position : absolute;
    left : 300px;
    top : 100px;
}
.폼_내용{
    margin-top : 10px;
}
.register_top{
    width: 1024px;
    margin: 0 auto;
    margin-top: 70px;
}
.sibal {
    display: table;
    margin: 0 auto;
}
#btn_all{
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 12px 12px;
    width: 140px;

    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;

    text-align: center;

    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    
    border: 0 none;
    border : solid 1px #1E1636;
    border-radius: 4px;
    
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
  
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
   
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    
    box-shadow: 2px 5px 10px var(#e4e4e4);
  
    color: #1E1636;
    background-color: white;
    opacity : 0.6;
}
#btn_all:hover{
    transition: all 150ms linear;
    color: white;
    background-color: #1E1636;
    opacity: 0.6;
}
#btn_all:active{
    transition: all 150ms linear;
    background-color: #d5d6d6;
    opacity: 1;
}
#btn_all_1{
    margin: 0 auto;
    padding: 12px 12px;
    width: 300px;
    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;

    text-align: center;

    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    
    border: 0 none;
    border : solid 1px #1E1636;
    border-radius: 4px;
    
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 10px var(#e4e4e4);
    margin-top : 50px;
    color: #1E1636;
    background-color: white;
    opacity : 0.6;
}
#btn_all_1:hover{
    transition: all 150ms linear;
    color: white;
    background-color: #1E1636;
    opacity: 0.6;
}
#btn_all_1:active{
    transition: all 150ms linear;
    background-color: #d5d6d6;
    opacity: 1;
}
.register_top img{
    width : 50px;
    height : 50px;
}
.register_top_box{
    width: 200px;
    margin : 0px auto;
    display : inline-block;
    text-align: center;
}
.register_top_span{
    font-size : 24px;
    font-weight: bold;
}
.register_top_span_text{
    font-size : 17px;
    color: #2e3134;
    font-family: 'Jeju Gothic', sans-serif;
}
