.작성폼{
    position : absolute;
    left : 300px;
    top : 100px;
}
.폼_내용{
    margin-top : 10px;
}

#btn_new{
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    background: #fff;
    font-weight: bold;
    border: 2px solid #fd8282;
    letter-spacing:1px;
    text-shadow:0;
    size : 12px;
    color:#fd8282;
    cursor : pointer;
    transition : all 0.25s ease;
    margin-bottom : 10px;
}