<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>
  <div class="왼쪽공간">
      this is left area
  </div>
  <div>
    <div>
      <% if(isAuthenticated){ %>
      <!--  new 버튼은 로그인된 경우에만 보임-->
      <a href="/registers/new"><button id="btn_new">New</button></a>
      <% } %>
    </div>
    <div class="카테고리별_공모">
      <ul>
        <% registers.forEach(function(register) { %>
        <li>
            <div class="아이템_한개_전체">
                <div class="아이템_이미지">아이템이미지</div>
                <div class="아이템_내용">
                    <div class="아이템_제목"><a href="/registers/<%= register._id %>"><%= register.title %></a></div>
                    <div class="아이템_마감일"><%= register.deadline.toLocaleDateString() %></div>
                    <div class="아이템_인원"><%= register.required_people %></div>
                </div>
            </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</body>

</html>
