<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>
  <div class="왼쪽공간">
      this is left area
  </div>
  <div>
    <div>
      <% if(isAuthenticated){ %>
      <!--  new 버튼은 로그인된 경우에만 보임-->
      <a href="/registers/new"><button id="btn_new">New</button></a>
      <% } %>
    </div>
    

    <table>
      <thead>
        <tr>
          <th class="title">Title</th>
          <th class="author">Author</th>
          <th class="date">Date</th>
        </tr>
      </thead>
      <tbody>
        <% if(registers == null || registers.length == 0){ %>
        <tr>
          <td class="noData" colspan=100> There is no data to show :( </td>
        </tr>
        <% } %>
        <% registers.forEach(function(register) { %>
        <tr>
          <td class="title">
            <a href="/registers/<%= register._id %>">
              <div class="ellipsis">
                <%= register.title %>
              </div>
            </a>
          </td>

          <td class="author">
            <!-- author가 있는 경우 author의 username을 표시 -->
            <div class="ellipsis">
              <%= register.author ? register.author.username : "" %>
            </div>
            <!-- ellipsis ext의 내용이 width보다 긴 경우 긴 부분을 잘라내고 "..."을 추가 -->
          </td>

          <td class="date">
            <%= register.createdDate %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

  </div> <!-- container end -->
</body>

</html>
