<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div>
      <div>
        <a href="/registers">Back</a>
      </div>

      <form action="/registers" method="post">
        <div>
          <h3>캠패인 등록</h3>
          
          <fieldset>
            <div>
              <label for="title">제목</label>
              <div >
                <input type="text" id="title" name="title" value="">
              </div>
            </div>

            <div>
              <label for="sub_title">부제목</label>
              <div >
                <input type="text" id="sub_title" name="sub_title" value="">
              </div>
            </div>

            <div>
              <label for="company">회사명</label>
              <div >
                <input type="text" id="company" name="company" value="">
              </div>
            </div>

            <div>
              <label for="required_people">필요 크리에이터 수</label>
              <div >
                <input type="number" id="required_people" name="required_people" value="1">
              </div>
            </div>
            
            <div>
              <label for="budget">예산</label>
              <div >
                <input type="number" id="budget" name="budget" step="100000" />
              </div>
            </div>

            <div>
              <label for="deadline">마감일</label>
              <div>
                <input type="date" id="deadline" name="deadline" value="2018-10-10">
              </div>
            </div>

            <div>
              <label for="body">내용</label>
              <div>
               <textarea id="body" name="body" rows="5"></textarea>
                
              </div>
            </div>

          </fieldset>

        </div>

        <div>
          <button type="submit">Submit</button>
        </div>

      </form>

    </div>  <!-- container end -->
  </body>
</html>
