<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <div>

      <div>
        <a href="/registers">Back</a>
      </div>

      <form action="/registers" method="post">
        <div>
          <h3>Register</h3>
          
          <fieldset>
            <div>
              <label for="title">Title</label>
              <div >
                <input type="text" id="title" name="title" value="">
              </div>
            </div>

            <div>
              <label for="sub_title">Sub_Title</label>
              <div >
                <input type="text" id="sub_title" name="sub_title" value="">
              </div>
            </div>

            <div>
              <label for="required_people">Required_People</label>
              <div >
                <input type="text" id="required_people" name="required_people" value="">
              </div>
            </div>
            
            <div>
              <label for="budget">Budget</label>
              <div >
                <input type="text" id="budget" name="budget" value="">
              </div>
            </div>

            <div>
              <label for="deadline">Deadline</label>
              <div >
                <input type="text" id="deadline" name="deadline" value="">
              </div>
            </div>

            <div>
              <label for="body">Body</label>
              <div>
                <textarea id="body" name="body" rows="5"></textarea>
              </div>
            </div>

          </fieldset>

        </div>

        <div>
          <button type="submit">Submit</button>
        </div>

      </form>

    </div>  <!-- container end -->
  </body>
</html>
