body {
    margin: 0;
    background-color: #eeeef6;
}

.wrapper {
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.small {
    display: inline-block;
    margin: 10px;
    border-radius: 4px;
    background-color: #d2d6d0;
    height: 300px;
    width: 200px;
}

.large {
    display: inline-block;
    margin: 10px;
    border-radius: 4px;
    background-color: #d2d6d0;
    height: 300px;
    width: 500px;
}

.bestcontent {
    display: inline-block;
    margin: 10px;
    border-radius: 4px;
    background-color: #d2d6d0;
    height: 270px;
    width: 270px;
}

.lowbarcontent {
    display: inline-block;
    margin: 10px;
    border-radius: 4px;
    background-color: #d2d6d0;
    height: 40px;
    width: 700px;
}

.lowbarcontent h3 {
    color: white;
}
.bestcontent h3 {
    margin: 50px 20px;
    background-color: white;
}

.bestcontent p {
    margin: 0 20px;
    background-color: white;
}

.small h3 {
    margin: 50px 20px;
    background-color: white;
}

.small p {
    margin: 0 20px;
    background-color: white;
}

.large h3 {
    margin: 50px 20px;
    background-color: white;
}

.large p {
    margin: 0 20px;
    background-color: white;
}

hr {
    border-color: 	#f5f6fa;
}

.footer {
    margin: 100px;
    text-align: center;
}

.footer_content {
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
}