#menu {
    background-color: #f0c4cd;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.menuitem {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.menuitem a {
    font-weight: bold;
    color: white;
}

.menuitem button {
    border-radius: 4px;
    border-color: white;
    margin-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;    
    color: white;
    background-color: gray;
}

#logo {
    display: inline-block;
    width: 150px;
    height: 20px;
    margin-right: 130px;
}